.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.jumbotron.p-4.p-md-5.rounded > .col-md-6.px-0 .font-italic {
  color: red;
}
.nav.d-flex.justify-content-between.mb-2 {
  /* color: red; */
}

.container .row .col-md-8 .blog-post:first-of-type {
  /* color: red; */
}
.container .row .blog-main .blog-post hr {
  background-color: red;
}
.nav :nth-child(even) {
  /* color: red; */
}
.blog-sidebar > :nth-child(2) ol {
  /* background-color: black; */
}

.blog-sidebar > :nth-child(3) ol > :nth-child(2) {
  background-color: aqua;
  /* color: blueviolet; */
}
.container .row .blog-main > :nth-child(3) p.blog-post-meta a {
  /* background-color: brown; */
}
.container .row .blog-main > :nth-child(4) ul > :nth-child(2) {
  /* background-color: brown; */
}
.float-right.mb-3.mr-3 {
  /* background-color: yellowgreen; */
}
.blog-pagination > .btn.btn-outline-secondary.disabled {
  /* background-color: black; */
}
.blog-footer .text-center a[href="https://twitter.com/mdo"]
{
  /* color: red; */
}
.blog-post > :nth-child(3) {
  /* background-color: red; */
}
